@import '../../styles/theme-settings.scss';

.dot {
  background-color: $theme-color;
}

.dropdown :global {
  fill: #fff;

  .react-selectize-control {
    color: $white !important;
    transition: border-color 150ms ease-out;

    &:hover {
      border-color: $white !important;
    }
  }

  .react-selectize-placeholder {
    color: $white !important;
  }

  .react-selectize-toggle-button-container {
    transform: rotate(0deg) !important;
  }

  .open {
    .react-selectize-control {
      background: $theme-color !important;
    }
  }
}

/* STILL HERE TO USE AS EXAMPLE ON HOW TO */

/* TRANSPARENT */

// .dropdown :global {
//   .react-selectize-control {
//     border-color: transparent !important;
//     height: 60px !important;
//     box-shadow: none !important;

//     &:hover {
//       box-shadow: 0 !important;
//     }
//   }

//   .dropdown-menu {
//     margin-left: -1px !important;
//     width: calc(100% + 2px) !important;
//     background: $white !important;
//   }
// }

/* PLAIN */

// .dropdown :global {
//   .react-selectize-control {
//     background-color: $white !important;

//     @media #{$desktop} {
//       background-color: transparent !important;
//     }
//   }

//   .dropdown-menu {
//     background: $white !important;
//   }

//   .react-selectize-placeholder {
//     color: $theme-color !important;

//     @media #{$desktop} {
//       color: $gray !important;
//     }
//   }

//   .react-selectize-control {
//     transition: background-color 150ms ease-out;

//     &:hover {
//       background-color: $white !important;
//     }
//   }

//   .open {
//     .react-selectize-control {
//       background: $white !important;
//     }

//     .react-selectize-placeholder {
//       color: $theme-color !important;
//     }
//   }
// }

/* DARK */

// .dropdown :global {
//   .react-selectize-control {
//     color: $theme-color !important;
//   }

//   .react-selectize-placeholder {
//     color: $theme-color !important;
//   }

//   .react-selectize-toggle-button-container {
//     transform: rotate(0deg) !important;
//   }

//   .dropdown-menu {
//     border: solid 1px $border-color !important;
//   }

//   .open {
//     .react-selectize-control {
//       background: $white !important;
//     }
//   }
// }

/* BLUEBORDER */

// .blueBorder :global {
//   .react-selectize {
//     &:not(.disabled) {
//       .react-selectize-control {
//         border-color: $theme-color !important;
//         border-width: 2px !important;
//       }
//     }
//   }
// }
