@import '~styles/settings.scss';

.tag {
  border: none;
  box-shadow: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: $font-size-sm;
  color: $dark-gray;
  flex-grow: 0;
}

.label {
  padding: 5px 0;
  margin-right: 8px;
  width: max-content;
}
