@import '../../styles/settings.scss';

.container {
  position: relative;
  height: 700px;

  @media #{$tablet-portrait} {
    height: 1080px;
  }

  @media #{$tablet-landscape} {
    height: 600px;
  }
}

.grid {
  height: 100%;
}

.title {
  top: 1rem;
  left: 1rem;
  font-size: $font-size;
  color: black;
  z-index: 1;

  @media #{$tablet-portrait} {
    top: 30px;
    left: 30px;
  }
}

.story {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  float: left;
  width: 50%;
  height: 25%;
  color: $white;
  font-size: $font-size;
  z-index: 0;
  background-size: cover;
  background-position: center;
  transition: background-size 0.3s ease-in;

  @media #{$tablet-portrait} {
    padding: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(71, 44, 184, 0.1);
    background-image: linear-gradient(-180deg, rgba($bg-blue, 0) 0%, rgba($bg-blue, 0.7) 100%);
    z-index: -1;
  }

  &:hover::after {
    background-image: linear-gradient(-180deg, rgba($bg-blue, 0) 0%, rgba($bg-blue, 0.2) 100%);
  }

  @media #{$tablet-portrait} {
    height: 33%;
    font-size: $font-size-large;
  }

  @media #{$tablet-landscape} {
    width: 25%;
    height: 50%;
  }
}
