{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": null,
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "length-zero-no-unit": null,
    "selector-pseudo-class-no-unknown": [
      true, { ignorePseudoClasses: ["global"] }
    ]
  }
}
