@import '../../styles/theme-settings';

.checkbox {
  margin-top: 10px;
}

.label {
  font-size: 13px;
  font-weight: bold;
  color: $accent-color;
}

.slider {
  background-color: $theme-color;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  transition: 0.2s;
  width: 28px;
}

input:checked ~ .slider {
  background-color: $accent-color;
}
