.column {
  height: 100%;
  display: flex;
  align-items: flex-end;

  > div {
    padding: 10px;
  }
}

.row {
  padding-top: 0 !important; // Due to the :global in styles
  padding-bottom: 0 !important; // Due to the :global in styles
}

.evenRow {
  .column {
    &:nth-child(2) {
      background-color: #e7edf8;
    }
  }
}

.oddRow {
  .column {
    &:nth-child(2) {
      background-color: #d4dff4;
    }
  }
}
