.column {
  height: 100%;
  display: flex;
  align-items: flex-end;

  > p {
    padding: 20px;
  }
}

.row {
  padding-top: 0 !important; // Due to the :global in styles
  padding-bottom: 0 !important; // Due to the :global in styles
}

.evenRow {
  .column {
    &:nth-child(2) {
      background-color: #E7EDF8;
    }
  }
}

.oddRow {
  .column {
    &:nth-child(2) {
      background-color: #D4DFF4;
    }
  }
}
